################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Common/Playground.Common/obj
/Common/Playground.Web.Base/obj
/Services/Person/Person.Infrastructure/obj
