################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Common/Playground.Common/obj
/Common/Playground.Web.Base/obj
/Services/Person/Person.Infrastructure/obj
/Common/Playground.Common/bin/Debug/net6.0
/Common/Playground.Web.Base/bin/Debug/net6.0/ref
/Common/Playground.Web.Base/bin/Debug/net6.0
/Services/Person/Person.API/bin/Debug/net6.0
/Services/Person/Person.API/obj/Debug/net6.0
/Services/Person/Person.API/obj
/Services/Person/Person.Core/bin/Debug/net6.0
/Services/Person/Person.Infrastructure/bin/Debug/net6.0
/Services/Person/Person.Core/obj/Debug/net6.0/ref
/Playground.Infrastructure.Base/obj
/Services/Locations/Locations.API/obj
/Services/Locations/Locations.Infrastructure/obj
/Common/Playground.Core.Base/bin/Debug/net6.0
/ApiGateways/OcelotApiGw/bin/Debug/net6.0
/ApiGateways/OcelotApiGw/obj
