@inherits CommonPeopleFunctions
@page "/people"
<PageTitle>People</PageTitle>

<div class="row mb-2">
    <div class="col-12">
        <PersonSearchForm PeopleSearchStateManagement="_peopleSearchStateManagement" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <PeopleGrid PeopleSearchStateManagement="_peopleSearchStateManagement" />
    </div>
</div>