@inherits CommonLocationFunctions

<h3>Addresses</h3>
@page "/addresses"



<div class="row mb-2">
    <div class="col-12">
        <AddressSearchForm AddressSearchStateManagement="_addressSearchStateManagement" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <AddressGrid AddressSearchStateManagement="_addressSearchStateManagement" />
    </div>
</div>